
# üîç Kh√°m ph√° d·ªØ li·ªáu MIMIC‚ÄëIV (ƒë·ªçc nh·∫π, kh√¥ng gi·∫£i n√©n to√†n b·ªô)
Notebook n√†y gi√∫p b·∫°n **xem nhanh** v√† **duy·ªát theo t·ª´ng ph·∫ßn** c√°c file `.csv.gz` c·ª±c l·ªõn c·ªßa MIMIC‚ÄëIV / MIMIC‚ÄëIV‚ÄëNote **m√† kh√¥ng c·∫ßn gi·∫£i n√©n**, ƒë·ªÉ tr√°nh ƒë·∫ßy b·ªô nh·ªõ.

**B·∫°n c√≥ th·ªÉ:**
- Xem v√†i d√≤ng ƒë·∫ßu (`nrows`) c·ªßa t·ª´ng b·∫£ng.
- ƒê·ªçc theo **chunk** nh·ªè (t·ª´ng l√¥ 5k‚Äì50k d√≤ng) ƒë·ªÉ ki·ªÉm tra d·ªØ li·ªáu.
- L·∫•y **m·∫´u ng·∫´u nhi√™n** m·ªôt s·ªë d√≤ng t·ª´ file c·ª±c l·ªõn (b·∫±ng *reservoir sampling* tr√™n c√°c chunk).

> üí° Ph√π h·ª£p cho MacBook Air M2 / m√°y RAM th·∫•p.


## 0) C·∫•u h√¨nh ƒë∆∞·ªùng d·∫´n d·ªØ li·ªáu
ƒêi·ªÅn ƒë√∫ng th∆∞ m·ª•c g·ªëc ch·ª©a 2 c√¢y th∆∞ m·ª•c sau (theo b·∫°n cung c·∫•p):

```
data/
‚îú‚îÄ‚îÄ mimic-iv-note/2.2/note/*.csv(.gz)
‚îî‚îÄ‚îÄ mimiciv/3.1/{hosp,icu}/*.csv.gz
```

In [4]:
from pathlib import Path

# L√πi m·ªôt c·∫•p ra kh·ªèi notebooks/, r·ªìi v√†o data/
DATA_ROOT = Path("..") / "data"

HOSP_DIR = DATA_ROOT / "mimiciv" / "3.1" / "hosp"
ICU_DIR  = DATA_ROOT / "mimiciv" / "3.1" / "icu"
NOTE_DIR = DATA_ROOT / "mimic-iv-note" / "2.2" / "note"

for p in [HOSP_DIR, ICU_DIR, NOTE_DIR]:
    print(f"T·ªìn t·∫°i: {p.resolve()} ->", p.exists())

T·ªìn t·∫°i: /Users/lehoangkhang/TaÃÄi lieÃ£ÃÇu/revita-sympdiag/data/mimiciv/3.1/hosp -> True
T·ªìn t·∫°i: /Users/lehoangkhang/TaÃÄi lieÃ£ÃÇu/revita-sympdiag/data/mimiciv/3.1/icu -> True
T·ªìn t·∫°i: /Users/lehoangkhang/TaÃÄi lieÃ£ÃÇu/revita-sympdiag/data/mimic-iv-note/2.2/note -> True


## 1) Li·ªát k√™ nhanh c√°c file `.csv.gz`

In [5]:

import glob

def list_gz(dir_path):
    files = sorted(glob.glob(str(dir_path / "*.csv.gz")))
    for f in files:
        print("‚Ä¢", Path(f).name)
    return files

print("üìÇ HOSP:")
_ = list_gz(HOSP_DIR)
print("\nüìÇ ICU:")
_ = list_gz(ICU_DIR)
print("\nüìÇ NOTE:")
_ = list_gz(NOTE_DIR)

üìÇ HOSP:
‚Ä¢ admissions.csv.gz
‚Ä¢ d_hcpcs.csv.gz
‚Ä¢ d_icd_diagnoses.csv.gz
‚Ä¢ d_icd_procedures.csv.gz
‚Ä¢ d_labitems.csv.gz
‚Ä¢ diagnoses_icd.csv.gz
‚Ä¢ drgcodes.csv.gz
‚Ä¢ emar.csv.gz
‚Ä¢ emar_detail.csv.gz
‚Ä¢ hcpcsevents.csv.gz
‚Ä¢ labevents.csv.gz
‚Ä¢ microbiologyevents.csv.gz
‚Ä¢ omr.csv.gz
‚Ä¢ patients.csv.gz
‚Ä¢ pharmacy.csv.gz
‚Ä¢ poe.csv.gz
‚Ä¢ poe_detail.csv.gz
‚Ä¢ prescriptions.csv.gz
‚Ä¢ procedures_icd.csv.gz
‚Ä¢ provider.csv.gz
‚Ä¢ services.csv.gz
‚Ä¢ transfers.csv.gz

üìÇ ICU:
‚Ä¢ caregiver.csv.gz
‚Ä¢ chartevents.csv.gz
‚Ä¢ d_items.csv.gz
‚Ä¢ datetimeevents.csv.gz
‚Ä¢ icustays.csv.gz
‚Ä¢ ingredientevents.csv.gz
‚Ä¢ inputevents.csv.gz
‚Ä¢ outputevents.csv.gz
‚Ä¢ procedureevents.csv.gz

üìÇ NOTE:
‚Ä¢ discharge.csv.gz
‚Ä¢ discharge_detail.csv.gz
‚Ä¢ radiology.csv.gz
‚Ä¢ radiology_detail.csv.gz


## 2) H√†m ti·ªán √≠ch ƒë·ªçc **nh·∫π** (kh√¥ng gi·∫£i n√©n to√†n b·ªô)
- `preview_csv(path, nrows)`: xem **n d√≤ng ƒë·∫ßu** tr·ª±c ti·∫øp t·ª´ `.csv.gz`  
- `read_in_chunks(path, chunksize)`: duy·ªát **t·ª´ng chunk** ƒë·ªÉ ki·ªÉm tra c·∫•u tr√∫c/gi√° tr·ªã  
- `show_columns(path)`: ch·ªâ ƒë·ªçc **1 d√≤ng** ƒë·ªÉ l·∫•y **t√™n c·ªôt**
- `sample_rows(path, k, chunksize)`: **l·∫•y m·∫´u ng·∫´u nhi√™n** `k` d√≤ng t·ª´ file r·∫•t l·ªõn (reservoir sampling)

In [7]:

import pandas as pd
import random

def preview_csv(path, nrows=5):
    df = pd.read_csv(path, compression="gzip", nrows=nrows, low_memory=False)
    print(f"üìÑ {path} ‚Äî hi·ªÉn th·ªã {nrows} d√≤ng ƒë·∫ßu:")
    display(df)
    return df

def read_in_chunks(path, chunksize=10000, max_chunks=2, head_each=3):
    i = 0
    for chunk in pd.read_csv(path, compression="gzip", chunksize=chunksize, low_memory=False):
        print(f"üîπ Chunk {i} (kho·∫£ng {len(chunk)} d√≤ng) ‚Äî xem {head_each} d√≤ng ƒë·∫ßu:")
        display(chunk.head(head_each))
        i += 1
        if i >= max_chunks:
            break

def show_columns(path):
    df = pd.read_csv(path, compression="gzip", nrows=1, low_memory=False)
    print(f"üìë C·ªôt trong {path}:")
    print(list(df.columns))
    return df.columns.tolist()

def sample_rows(path, k=1000, chunksize=50000, random_state=42):
    """Reservoir sampling cho file c·ª±c l·ªõn: ch·ªçn ng·∫´u nhi√™n k d√≤ng m√† kh√¥ng c·∫ßn load to√†n b·ªô."""
    random.seed(random_state)
    reservoir = None
    total = 0
    for chunk in pd.read_csv(path, compression="gzip", chunksize=chunksize, low_memory=False):
        # l·∫•y ng·∫´u nhi√™n c√°c index trong chunk ƒë·ªÉ th√™m v√†o reservoir
        if reservoir is None:
            reservoir = chunk.sample(min(k, len(chunk)), random_state=random_state)
        else:
            m = len(chunk)
            take = min(k, m)
            # v·ªõi m·ªói h√†ng c·ªßa chunk, x√°c su·∫•t gi·ªØ l·∫°i ~ k/(total + i)
            # ƒë·ªÉ ƒë∆°n gi·∫£n & hi·ªáu qu·∫£, d√πng sampling theo t·ª∑ l·ªá
            add = chunk.sample(take, random_state=random_state)
            combined = pd.concat([reservoir, add], ignore_index=True)
            reservoir = combined.sample(min(k, len(combined)), random_state=random_state)
        total += len(chunk)
    print(f"‚úÖ L·∫•y m·∫´u {len(reservoir)} d√≤ng ng·∫´u nhi√™n t·ª´ t·ªïng ~{total} d√≤ng.")
    return reservoir


## 3) V√≠ d·ª• nhanh tr√™n HOSP (admissions, patients, diagnoses_icd, labevents, d_labitems)
> B·∫°n c√≥ th·ªÉ ch·∫°y t·ª´ng cell d∆∞·ªõi ƒë√¢y tu·ª≥ nhu c·∫ßu.

In [8]:

admissions_path = HOSP_DIR / "admissions.csv.gz"
patients_path   = HOSP_DIR / "patients.csv.gz"
diagnoses_path  = HOSP_DIR / "diagnoses_icd.csv.gz"
labevents_path  = HOSP_DIR / "labevents.csv.gz"
dlab_path       = HOSP_DIR / "d_labitems.csv.gz"

preview_csv(admissions_path, nrows=5)
show_columns(admissions_path)

üìÑ ../data/mimiciv/3.1/hosp/admissions.csv.gz ‚Äî hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu:

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

üìë C·ªôt trong ../data/mimiciv/3.1/hosp/admissions.csv.gz:
['subject_id', 'hadm_id', 'admittime', 'dischtime', 'deathtime', 'admission_type', 'admit_provider_id', 'admission_location', 'discharge_location', 'insurance', 'language', 'marital_status', 'race', 'edregtime', 'edouttime', 'hospital_expire_flag']

['subject_id',
 'hadm_id',
 'admittime',
 'dischtime',
 'deathtime',
 'admission_type',
 'admit_provider_id',
 'admission_location',
 'discharge_location',
 'insurance',
 'language',
 'marital_status',
 'race',
 'edregtime',
 'edouttime',
 'hospital_expire_flag']

In [9]:

preview_csv(patients_path, nrows=5)
show_columns(patients_path)

üìÑ ../data/mimiciv/3.1/hosp/patients.csv.gz ‚Äî hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu:

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09
1    10000048      F          23         2126       2008 - 2010         NaN
2    10000058      F          33         2168       2020 - 2022         NaN
3    10000068      F          19         2160       2008 - 2010         NaN
4    10000084      M          72         2160       2017 - 2019  2161-02-13

üìë C·ªôt trong ../data/mimiciv/3.1/hosp/patients.csv.gz:
['subject_id', 'gender', 'anchor_age', 'anchor_year', 'anchor_year_group', 'dod']

['subject_id',
 'gender',
 'anchor_age',
 'anchor_year',
 'anchor_year_group',
 'dod']

In [ ]:

preview_csv(diagnoses_path, nrows=5)
show_columns(diagnoses_path)

In [10]:

# ‚ö†Ô∏è labevents r·∫•t l·ªõn ‚Äî ch·ªâ xem 5 d√≤ng + duy·ªát 1-2 chunk nh·ªè
preview_csv(labevents_path, nrows=5)
read_in_chunks(labevents_path, chunksize=50000, max_chunks=1, head_each=5)
show_columns(labevents_path)

üìÑ ../data/mimiciv/3.1/hosp/labevents.csv.gz ‚Äî hi·ªÉn th·ªã 5 d√≤ng ƒë·∫ßu:

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95.0,mg/dL,70.0,100.0,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN

üîπ Chunk 0 (kho·∫£ng 50000 d√≤ng) ‚Äî xem 5 d√≤ng ƒë·∫ßu:

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95.0,mg/dL,70.0,100.0,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN

üìë C·ªôt trong ../data/mimiciv/3.1/hosp/labevents.csv.gz:
['labevent_id', 'subject_id', 'hadm_id', 'specimen_id', 'itemid', 'order_provider_id', 'charttime', 'storetime', 'value', 'valuenum', 'valueuom', 'ref_range_lower', 'ref_range_upper', 'flag', 'priority', 'comments']

['labevent_id',
 'subject_id',
 'hadm_id',
 'specimen_id',
 'itemid',
 'order_provider_id',
 'charttime',
 'storetime',
 'value',
 'valuenum',
 'valueuom',
 'ref_range_lower',
 'ref_range_upper',
 'flag',
 'priority',
 'comments']

In [ ]:

preview_csv(dlab_path, nrows=5)
show_columns(dlab_path)


## 4) V√≠ d·ª• nhanh tr√™n NOTE (discharge, radiology)

In [11]:

discharge_path = NOTE_DIR / "discharge.csv.gz"
radiology_path = NOTE_DIR / "radiology.csv.gz"

preview_csv(discharge_path, nrows=3)
show_columns(discharge_path)

preview_csv(radiology_path, nrows=3)
show_columns(radiology_path)

üìÑ ../data/mimic-iv-note/2.2/note/discharge.csv.gz ‚Äî hi·ªÉn th·ªã 3 d√≤ng ƒë·∫ßu:

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...

üìë C·ªôt trong ../data/mimic-iv-note/2.2/note/discharge.csv.gz:
['note_id', 'subject_id', 'hadm_id', 'note_type', 'note_seq', 'charttime', 'storetime', 'text']
üìÑ ../data/mimic-iv-note/2.2/note/radiology.csv.gz ‚Äî hi·ªÉn th·ªã 3 d√≤ng ƒë·∫ßu:

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-RR-14,10000032,22595853,RR,14,2180-05-06 21:19:00,2180-05-06 23:32:00,EXAMINATION: CHEST (PA AND LAT)\n\nINDICATION...
1,10000032-RR-15,10000032,22595853,RR,15,2180-05-06 23:00:00,2180-05-06 23:26:00,EXAMINATION: LIVER OR GALLBLADDER US (SINGLE ...
2,10000032-RR-16,10000032,22595853,RR,16,2180-05-07 09:55:00,2180-05-07 11:15:00,"INDICATION: ___ HCV cirrhosis c/b ascites, hi..."

üìë C·ªôt trong ../data/mimic-iv-note/2.2/note/radiology.csv.gz:
['note_id', 'subject_id', 'hadm_id', 'note_type', 'note_seq', 'charttime', 'storetime', 'text']

['note_id',
 'subject_id',
 'hadm_id',
 'note_type',
 'note_seq',
 'charttime',
 'storetime',
 'text']


## 5) L·∫•y **m·∫´u ng·∫´u nhi√™n** t·ª´ file r·∫•t l·ªõn (kh√¥ng load to√†n b·ªô)
V√≠ d·ª•: l·∫•y 2.000 d√≤ng ng·∫´u nhi√™n t·ª´ `labevents.csv.gz`, sau ƒë√≥ l∆∞u ra file nh·ªè ƒë·ªÉ xem nhanh.

In [ ]:

sample = sample_rows(labevents_path, k=2000, chunksize=100000, random_state=7)
out_path = DATA_ROOT / "sample_labevents_2000rows.csv"
sample.to_csv(out_path, index=False)
print("üíæ ƒê√£ l∆∞u:", out_path)
display(sample.head(10))


## 6) M·∫πo ti·∫øt ki·ªám b·ªô nh·ªõ
- D√πng `nrows` ƒë·ªÉ xem nhanh v√†i d√≤ng ƒë·∫ßu, **kh√¥ng** gi·∫£i n√©n to√†n b·ªô.
- D√πng `chunksize` ƒë·ªÉ **duy·ªát t·ª´ng ph·∫ßn**, tr√°nh ƒë·∫ßy RAM.
- Ch·ªâ ch·ªçn **c·ªôt c·∫ßn thi·∫øt** b·∫±ng `usecols=[...]` n·∫øu b·∫°n bi·∫øt s·∫µn danh s√°ch c·ªôt.
- L∆∞u **m·∫´u nh·ªè** ra `.csv` ƒë·ªÉ th·ª≠ nghi·ªám pipeline tr∆∞·ªõc khi x·ª≠ l√Ω to√†n b·ªô d·ªØ li·ªáu.
- Tr√°nh `.read_csv(..., low_memory=True)` v·ªõi file nhi·ªÅu ki·ªÉu d·ªØ li·ªáu; d√πng `low_memory=False` ƒë·ªÉ pandas ƒëo√°n ki·ªÉu ·ªïn ƒë·ªãnh h∆°n (√≠t l·ªói).